.App {
  text-align: center;
  /* background-color: hotpink; */
  /* margin: 2rem 2rem 5rem; */
  margin: 2em 13%;
  /* margin: 2rem 3rem 5rem; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hrTag {
  /* margin: 2rem 6rem; */
  margin: 2em 13%;

  color: #a9a9a9;
  opacity: 0.6;
}

.form {
  /* background-color: indigo; */
  /* padding: 2rem 0rem; */
  /* padding: 2rem 0rem 5rem 0rem; */
  padding: 1em 0em 5em 0em;
  /* padding: 2em 34% 30% 34%; */

  display: flex;
  flex-direction: column;
  align-items: center;
}
.upperText {
  /* font-size: 20px; */
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.App-header {
  /* background-color: rgb(245, 245, 245, 0.5); */
  /* box-shadow: 0px 0px 15px 15px rgb(245, 245, 245, 0.5); */
}

.submitButton {
  /* margin: 5em 42% 29%; */
  margin: 1em;
  width: 10.5em;

  text-align: center;
  border-color: black;
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  border-radius: 9px;
  font-weight: 500;
  color: white;
  background-color: black;
}
